// Define variables for your color scheme

// For example:
$red: #F76B8A;
$white: #F5F5F5;
$green: #01ECD5;
$blue: #4586FF;
$black: #32424A;
$brand-color: #4586FF;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #fcfcfc;
