.bonds-container {
  padding-top: 80px;
  width: 80vw;
  max-width: 700px;
  margin: 0 auto;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .3s;
  color: $brand-color;
}
