// Import page-specific CSS files here.
@import "home";
@import "bonds";
@import "contact";

.brand-green-text {
  color: $green;
}

.brand-container {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 0 50px #e7e7e7;
  transition: all 0.3s ease;
}

.brand-container-no-style {

}

.no-border {
  border: none;
}
