.bond-card-container {
  display: flex;
}

.bond-card {
  width: 215px;
  height: 290px;
  display: flex;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 0 50px #e7e7e7;
  transition: all 0.3s ease;
  margin: 10px;
  flex-direction: column;
  border-top: 10px solid $orange;
}

img.bond-card-image {
    border-radius: 10px;
    margin-right: 20px;
    width: 125px;
    margin: 0 auto;
  }

.bond-info {
  p {
    margin: 0px;
  }
}

#bond-country {
  margin: 5px auto;
  color: $brand-gray;
}
