<div class="bonds-container">
  <h3 class="text-center"> Depositos a Plazo</h3>
  <br>
  <!-- Inversion Form Field -->
  <div class="brand-container">
    <form class="form-inline text-center">
      <div class="form-group">
        <label for="investment" class="sr-only">Inversión:</label>
        <input type="text" readonly class="form-control-plaintext no-border text-center" id="investment" value="Inversión:">
      </div>
      <div class="form-group mx-sm-3">
        <label for="inputInversion" class="sr-only">Inversion</label>
        <input type="number" class="form-control" id="inputInversion" placeholder="">
      </div>
    </form>
  </div>
  <br>

  <!-- Country Tabs -->

  <!-- Show Bonds -->
  <div class="brand-container">
    <%= render 'shared/bonds_dashboard' %>
  </div>
</div>

<%= content_for :after_js do %>
<script>
  $('.product-term').click(function(event) {
    console.log(this.id);
    $(".product-bond-" + this.id).slideToggle();
  })
</script>

<% end %>
