<div class="bonds-container">
  <% @bonds.each do |bond| %>
  <% unless bond.nominal_rate == 0 %>
  <div class="product">
    <div class='product-upvote'>
      <div class='product-count'><%= "#{(bond.nominal_rate * 100).round(2)}%" %></div>
    </div>
    <%= image_tag "Bank-#{bond.bank.id}.png", class: "product-image hidden-xs" %>
    <div class='product-body'>
      <p><%= bond.country %></p>
      <p><%= bond.bank.name %></p>
    </div>
    <button type="button" class="btn btn-primary btn-outline">Información</button>
  </div>
  <% end %>
  <% end %>
</div>
